{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'telestoapp/assets/landing/css/zvan.css' %}">
        <link rel="stylesheet" href="{% static 'telestoapp/assets/landing/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'telestoapp/assets/landing/css/footer.css'%}">

    <script src="https://kit.fontawesome.com/69412022ed.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Telesto</title>

    <style>
    .bold-text {
      font-weight: bold;
    }
  </style>
    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo">
                <a href="{% url 'landing' %}"><img src="{% static 'telestoapp/assets/landing/img/logo-light.png' %}" style="width: 150px;"></a>
            </span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="{% url 'landing' %}"><img src="{% static 'telestoapp/assets/landing/img/logo-light.png'%}" style="width: 130px;"></a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">consulting</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#about-us">About us</a></li>
                    <li><a href="{% url 'SatMap' %}">Login</a></li>  <!--http://127.0.0.1:8001/-->
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                    <div class="searchToggle"></div>
                </div>
            </div>
        </div>
    </nav>


<div class="team dark:text-white" style="margin-top: 50px;" > 
    <script src="//unpkg.com/alpinejs" defer></script>
    <div class="relative min-h-screen bg-gray-100 dark:bg-gray-900">
        <section class="bg-white dark:bg-gray-900" >
            <div class="container px-7 py-11 mx-auto">
                <h1 class="text-4xl font-bold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">our team</h1>

                <p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">
                    At Telesto energy, our team is the driving force behind our success. We are a diverse group of talented individuals, each bringing a unique set of skills and experiences to the table.
                </p>

                <div class="flex items-center justify-center ">
                    <div class="flex items-center p-1 border border-none dark: border-blue-400 rounded-xl team-button">
                        <button onclick="showContent('ADVISORS')" class="px-4 py-2 text-md font-medium capitalize md:py-3 rounded-xl md:px-12 dark:text-white" id="advisorsButton">ADVISORS</button>
                        <button onclick="showContent('CORE TEAM')" class="px-4 py-2 mx-4 text-md font-medium capitalize md:py-3 md:mx-8 md:px-12 dark:text-white" id="coreTeamButton">CORE TEAM</button>
                        <button onclick="showContent('CONSULTANTS')" class="px-4 py-2 text-md font-medium capitalize md:py-3 md:px-12 dark:text-white" id="consultantsButton">CONSULTANTS</button>
                    </div>
                </div>

                <div id="ADVISORSContent" style="display: none;"> <br><br>
                    <h1 class="dark:text-white" style="font-size: x-large; ">  <center> <b>   Advisors Team  </b> </center> </h1>
                    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/05/Gautam.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Gautam Sen</h3>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/jothi.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Jothi Periyasamy</h3>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/05/advisory.png" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Oliver Torres</h3>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/satya-pratha.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md font-medium text-gray-800 dark:text-white">P Satyanarayana</h3>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/05/sivakumar.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Siva Kumar Babu</h3>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2018/04/Giridhar_teles.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Giridhar Kumar</h3>
                        </div>
                  
                </div>
                </div>

                <div id="CORE TEAMContent" style="display: none; margin-top: 48px;" >
                    <h1 class="dark:text-white" style="font-size: x-large; ">  <center> <b>   Core Team  </b> </center> </h1>

                    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/RAJESH.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Rajeshwaran Dandapani</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Director - Geophysics</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/ADITYA.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Aditya Kumar</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Director - Petroleum Engineering</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/sara.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md font-medium text-gray-800 dark:text-white">Sara Bakdi</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Country Manager - Algeria</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/SHRIKANT.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Shrikant Rao</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300"> Business CORE TEAM Manager - India</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2018/06/amit.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">Amit Kumar Ray</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300"> Geophysicist</p>
                        </div>
            
                     
                    </div>
                </div>

                <div id="CONSULTANTSContent" style="display: none;margin-top: 48px;">
                    <h1 class="dark:text-white" style="font-size: x-large; ">  <center> <b>   Consultants Team  </b> </center> </h1>
                    

                    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/05/radhakrishnan.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md  font-medium text-gray-800 dark:text-white">S S Radhakrishnan</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Production & Facilities</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/08/arvind.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md font-medium text-gray-800 dark:text-white">Arvind Shetty</h3> 
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Contracts & Procurement</p>
                        </div>
            
                        <div class="flex flex-col items-center">
                            <img class="object-cover  rounded-xl aspect-square" src="https://www.telestoenergy.com/wp-content/uploads/2017/09/somen-mishra.jpg" alt="Team Member">
                            <h3 class="mt-4 text-md font-medium text-gray-800 dark:text-white">Somen Mishra</h3>
                            <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Geologist</p>
                        </div>
            
                 
                     
                    </div>
                    
                </div>
                <hr class="my-12 border-gray-200 dark:border-gray-700">
            </div>
          
        </div>
     
        </section>

        <div x-show="open"
             x-transition:enter="transition ease-out duration-300 transform"
             x-transition:enter-start="-translate-x-20 opacity-0"
             x-transition:enter-end="translate-x-0 opacity-100"
             x-transition:leave="transition ease-in duration-200 transform"
             x-transition:leave-start="translate-x-0 opacity-100"
             x-transition:leave-end="-translate-x-20 opacity-0"
             class="fixed z-50 bg-gray-800 sm:w-full sm:max-w-md rounded-xl inset-x-4 sm:left-12 bottom-20"
        ></div>
    </div>







<style>
    [x-cloak] {
        display: none
    }
</style>

<script src="https://cdn.tailwindcss.com"></script>

<script>
    tailwind.config = {
        darkMode: 'class',
    }
</script>

<script src="//unpkg.com/alpinejs" defer></script>


<body x-data="{ open: true, darkMode: false }" :class="darkMode ? 'dark' : ''">
<div id="about-us" class="relative min-h-screen bg-gray-100 dark:bg-gray-900">
    <section class="bg-white dark:bg-gray-900" style="margin-top: 0px;">
        <div class="text-center text-lg-center">
            <h1 class="text-4xl font-semibold text-gray-800 capitalize lg:text-5xl dark:text-white md:px-50 md:ml-20 md:mr-50 ">
              About <span class="text-blue-500"> Us</span> <br> 
            </h1>
          </div>
<div class="relative flex">
    <div class="min-h-screen lg:w-1"></div>
   
  
      <br>
    <div
        class="container flex flex-col justify-center w-full min-h-screen px-6 py-0 mx-auto lg:absolute lg:inset-x-0 mt-0 sm:mt-10">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
             our <span class="text-blue-500">Mission</span> <br> 
        </h1>

        <div class="mt-10 lg:mt-10 lg:flex lg:items-center">
            <img class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-76" src="https://www.telestoenergy.com/wp-content/uploads/2017/08/ceo3.jpg" alt="">

            <div class="mt-8 lg:px-10 lg:mt-0">
                <h1 class="text-1xl font-semibold text-gray-800 dark:text-white lg:w-72">
                    To become a company of choice that create value to all stakeholders through innovation and technology
                </h1>

                <p class="max-w-lg mt-8 text-gray-500 dark:text-gray-400">
                    “At its core, Telesto Energy is a blend of a great team, technology and innovation. We are driven with passion to provide solutions that combine Artificial Intelligence, Big Data Analytics, and innovative approaches to conventional practices and redefine the way the Oil & Gas Industry operates.

                    We are committed to provide solutions that are cost effective, improves efficiency, reduce repeat tasks, and offer great value.”
                </p>

                <h3 class="mt-6 text-lg font-medium text-blue-500">Balaji Chennakrishnan,</h3>
                <p class="text-gray-600 dark:text-gray-300">CEO, Telesto Energy</p>
            </div>
        </div>

        <div class="flex items-center justify-between mt-12 lg:justify-start">
  
    </div>
</div>
</section>

    <div x-show="open"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="-translate-x-20 opacity-0" 
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="translate-x-0 opacity-100" 
        x-transition:leave-end="-translate-x-20 opacity-0"
        class="fixed z-50 bg-gray-800 sm:w-full sm:max-w-md rounded-xl inset-x-4 sm:left-12 bottom-20"
     >
 
    </div>
</div>




<body x-data="{ open: true, darkMode: false }" :class="darkMode ? 'dark' : ''">
<div class="relative min-h-screen bg-gray-100 dark:bg-gray-900 ">
<section class="bg-white dark:bg-gray-900">
<div class="container px-6 py-10 mx-auto">
<hr class="my-12 border-gray-200 dark:border-gray-700">
<div class="lg:flex lg:items-center">
    <div class="w-full space-y-12 lg:w-1/2 ">
        <div>
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">explore our <br> awesome Components</h1>

            <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
            </div>
        </div>

  

        <div class="md:flex md:items-start md:-mx-4">
            <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                </svg>
            </span>

            <div class="mt-4 md:mx-4 md:mt-0">
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white"> TAKING THE RIGHT APPROACH</h1>

                <p class="mt-3 text-gray-500 dark:text-gray-300">
                    Value maximisation of company’s assets requires right portfolio management. Telesto Energy provides oil and gas companies with a bridge between corporate strategy and operational planning. It allows companies to be more proactive and responsive to changing market and operational realities at each stage in the asset life cycle and at every level in the organization, from corporate planners to asset teams. In our portfolio advisory services, we provide          
                 </p>
                    <li class="mt-3 text-indigo-400 dark: text-blue-500">IDENTIFY UNDERPERFORMING ASSETS </li>
                    <li class="mt-3 text-indigo-400 dark: text-blue-500">  DEVELOP CORPORATE STRATEGY</li>
                    <li class="mt-3 text-indigo-400 dark: text-blue-500">    FARM IN / FARM OUT SOLUTIONS</li>
                    <li class="mt-3 text-indigo-400 dark: text-blue-500">   PORTFOLIO OPTIMISATION</li>
                    <li class="mt-3 text-indigo-400 dark: text-blue-500"> DUE DILIGENCE</li>
                   
                </div>
      
        </div>

        <div class="md:flex md:items-start md:-mx-4">
            <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
            </span>

            <div class="mt-4 md:mx-4 md:mt-0">
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">GET THE MAXIMUM</h1>

                <p class="mt-3 text-gray-500 dark:text-gray-300">
                    Telesto Energy experts can help to ensure the client gets maximum value out of oil and gas investments. In our value assurance service line we provide
                       </p>

                       <li class="mt-3 text-indigo-400 dark: text-blue-500"> TECHNICAL AUDITS </li>
                       <li class="mt-3 text-indigo-400 dark: text-blue-500">  DEEP DIVE AUDITS</li>
                       <li class="mt-3 text-indigo-400 dark: text-blue-500">  RESERVE ASSURANCE</li>
                       <li class="mt-3 text-indigo-400 dark: text-blue-500">  RESERVE BOOKING</li>
                       <li class="mt-3 text-indigo-400 dark: text-blue-500"> VALUE OPTIMISATION</li>
                      
                       <p class="mt-3 text-gray-500 dark:text-gray-300">
                        At Telesto Energy, we are committed to helping our clients deliver their capital projects safely, on time and within the budget.
                     </p>
            </div>
        </div>

    </div>

    <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
        <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src="https://www.telestoenergy.com/wp-content/uploads/2017/07/portfolio-advisory.jpg" alt="">
    </div>
</div>    
</div>
<hr>
</section>


</div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<div class="partners bg-white dark:bg-gray-900" id="partnerDiv" > 
    <h1 class="text-1xl font-semibold text-center text-gray-800 capitalize lg:text-3xl lg:p-5  md:text-2xl dark:text-white" >Our Partners</h1>
    <style>
        .partner-box {
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .partner-box:hover {
            transform: scale(1.05);
            box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
    </style>
    <section class="container mx-auto py-10 ">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10 ">
            <div class="flex flex-col items-center justify-center bg-white px-10 lg:py-10 rounded-lg partner-box sm:ml-4">
                <img src="{% static 'telestoapp/assets/landing/img/logo-blade.png' %}" alt="BLADE ENERGY PARTNERS Logo" class="h-16">
                <p class="mt-4 text-lg font-semibold text-gray-700">BLADE ENERGY PARTNERS</p>
                <p class="mt-4 text-base text-gray-700">
                    Blade is an independent consulting group that focuses on resolving the challenges of complex projects engineering and delivery of complex projects for upstream oil and gas industry across the globe. Primarily in solving complex subsurface, drilling, completion, production material, and pipeline integrity problems using their leading-edge expertise. Blade has successfully delivered projects working with industry leaders on a variety of engineering, research, and development projects. In addition, they provide technical training primarily focused on drilling and completions.
                </p>
                <a href="https://www.blade-energy.com" target="_blank" class="text-blue-500 mt-4">Visit Website</a>
            </div>

            <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg  lg:py-10 partner-box">
                <img src="{% static 'telestoapp/assets/landing/img/logo-clone.png' %}" alt="CLONESKILLS Logo" class="h-12">
                <p class="mt-4 text-lg font-semibold text-gray-700">CLONESKILLS</p>
                <p class="mt-4 text-base text-gray-700">
                    CloneSkills is our partner in developing Artificial Intelligence (AI) and Big Data Analytics (BDA) solutions for the upstream oil and gas industry. The team of CloneSkills consists of alumni’s of Harvard and Stanford along with leading management consultants from KPMG, Deloitte, and Ernst & Young. This has helped them to be industry leaders in Enterprise Artificial Intelligence and Industrial Internet of Things (IIoT). Primarily for providing prebuild AI platform with IIoT and big data capabilities for enterprise that helps companies in quickly implementing machine learning, and deep learning models for realization of measurable business values
                </p>
                <a href="www.youtube.com/Cloneskils" target="_blank" class="text-blue-500 mt-4">www.youtube.com/Cloneskils</a>
            </div>

            <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg  lg:py-10 partner-box">
                <img src="{% static 'telestoapp/assets/landing/img/logo-experfy.png'%}" alt="EXPERFY AND HARVARD INNOVATION LAB Logo" class="h-12">
                <!-- <img src="{%static'telestoapp/assets/landing/img/logo-harvard.jpg'%" alt="EXPERFY AND HARVARD INNOVATION LAB Logo" class="h-10"> -->
                <p class="mt-4 text-lg font-semibold text-gray-700">EXPERFY AND HARVARD INNOVATION LAB</p>
                <p class="mt-4 text-base text-gray-700">
                    Telesto Energy works closely with Experfy fostered by Harvard Innovation Lab to develop big data and artificial intelligence driven solutions. Experfy is an intellectual powerhouse where elite data and tech. professionals help companies to manage projects end to end- from product roadmaps, prototypes and data integration to algorithms, software Apps & dashboards. For further information, please visit
                </p>
                <a href="www.experfy.com" target="_blank" class="text-blue-500 mt-4">www.experfy.com</a>
            </div>

            <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg  lg:py-10 partner-box">
                <img src="{% static 'telestoapp/assets/landing/img/logo-iit.png'%}" alt="INDIAN INSTITUTE OF TECHNOLOGY (ISM) Logo" class="h-16">
                <p class="mt-4 text-lg font-semibold text-gray-700">INDIAN INSTITUTE OF TECHNOLOGY (ISM)</p>
                <p class="mt-4 text-base text-gray-700">
                    Telesto Energy and IIT(ISM) has a research collaboration agreement on improving productivity of mature oil fields using Artificial Intelligence (AI), Big Data Analytics (BDA), and Industrial Internet of Things (IIoT). The IIT-ISM was established in 1926 is one of premier institutes in the country. Many prominent oil and gas industry experts and research scholars are alumni of this renowned institution. For further information, please visit
                </p>
                <a href="www.iitism.ac.in" target="_blank" class="text-blue-500 mt-4">www.iitism.ac.in</a>
            </div>

            <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg lg:py-10  partner-box">
                <img src="{% static 'telestoapp/assets/landing/img/logo-next.png'%}" alt="NEXT INC. Logo" class="h-10">
                <p class="mt-4 text-lg font-semibold text-gray-700">NEXT INC.</p>
                <p class="mt-4 text-base text-gray-700">
                    Our partner NEXT provides customized Information Technology (IT) solutions. It provides a variety of portfolio of technology services and solutions to clients spanning from private to government establishment. Next works with clients to identify solutions to improve operational efficiencies. It deploys new technology initiatives for businesses in a cost-effective manner. Across multiple industry verticals by providing their cutting-edge technological solutions and products on a cloud-based platform.
                </p>
                <a href="www.nexttechnosolutions.com" target="_blank" class="text-blue-500 mt-4">www.nexttechnosolutions.com</a>
            </div>

            <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg  lg:py-10 partner-box">
                <img src="{% static 'telestoapp/assets/landing/img/logo-siemens.png'%}" alt="SIEMENS Logo" class="h-6">
                <p class="mt-4 text-lg font-semibold text-gray-700">SIEMENS</p>
                <p class="mt-4 text-base text-gray-700">
                    Siemens Pte. Ltd, Singapore collaborates with us on oil and gas projects in the Indian market. Siemens is a global leader with leading technological expertise in automation, electrification, and process solutions. They manufacture and provide a wide range of high-performance products, systems, and services. Their products and solutions cover across the value chain of the oil and gas industry from drilling and production to transport facilities, processing, and storage.
                </p>
                <a href="www.siemens.com/sg" target="_blank" class="text-blue-500 mt-4">www.siemens.com/sg</a>
            </div>
        </div>
    </section>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
      e.preventDefault();

      const targetId = this.getAttribute('href').substring(1);
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        window.scrollTo({
          top: targetElement.offsetTop,
          behavior: 'smooth'
        });
      }
    });
  });
});
  </script>
  
    <script>
function showContent(category) {
    
    document.getElementById('advisorsButton').classList.remove('bold-text');
    document.getElementById('coreTeamButton').classList.remove('bold-text');
    document.getElementById('consultantsButton').classList.remove('bold-text');
    
    if (category === 'ADVISORS') {
      document.getElementById('advisorsButton').classList.add('bold-text');
    } else if (category === 'CORE TEAM') {
      document.getElementById('coreTeamButton').classList.add('bold-text');
    } else if (category === 'CONSULTANTS') {
      document.getElementById('consultantsButton').classList.add('bold-text');
    }
  }
        function showDefaultContent() {
            showContent('ADVISORS');
        }

        function showContent(memberType) {
            document.getElementById('ADVISORSContent').style.display = 'none';
            document.getElementById('CORE TEAMContent').style.display = 'none';
            document.getElementById('CONSULTANTSContent').style.display = 'none';

            const buttons = document.querySelectorAll('.team-button');
            buttons.forEach((button) => {
                button.classList.remove('active');
            });

            document.getElementById(memberType + 'Content').style.display = 'block';

       
        }

        window.onload = showDefaultContent;
    </script>


<style>
    [x-cloak] {
        display: none
    }

</style>


<script src="https://cdn.tailwindcss.com"></script>

<script>
    tailwind.config = {
        darkMode: 'class',
    }
</script>



    <footer>
        <div class="footer">
        <div class="row">
          <div class="col">
            <img src="{% static 'telestoapp/assets/landing/img/logo-light.png' %}" style="width: 150px;"> <br>
            <p style="font-weight: 700;font-size: 20px;">Singapore</p>
            <p>#30 Cecil Street,
              #19-08, Prudential Towers,
              Singapore-049712</p>
              <p>Tel: +65 8353 5574</p><br>
              <p style="font-size: 21px;font-weight: 700;color: rgbrgb(2, 38, 98);"> Global Presence</p><br>
              <p style="font-weight: 600;font-size:20px;top:3px;">Coimbatore,IN</p>
              
              <p>Tel/Fax: <a href="tel:+91 422 2311756"> +91 422 2311756</a></p>
              
              <br>
              <div class="places">
                 <p > London, GB| Algiers,DZ</p>
                 <p> Perth, AU| Houston, US</p>
                 <br>
            </div>
            
          </div>
          
            

          <div class="col">
            <h2 >Quick links<div class="underline"><span></span></div></h2>
            <div class="quick-links"> <br>
        <a href="#">       <li>Solutions</li> </a>
        <a href="#">        <li>Consulting</li></a>
        <a href="#">       <li>Products</li></a>
        <a href="#">      <li>About us</li></a>
             <a href="#">      <li>Blog</li></a>

             <br>
             <br>  
             <div class="social-icons">
                <a href="mailto:someone@example.com" target="_blank">
                  <i class="fa-solid fa-envelope" id="fa"></i></a>
                <a href="https://twitter.com/Telestoenergy" target="_blank"><i class="fab fa-square-twitter" style="color: #000000;"></i></a>
                <a href="https://www.youtube.com/channel/UCutQ8tRQnhV_-HWJZJcscrA" target="_blank"><i class="fab fa-youtube" style="color: #000000;"></i></a>
                <a href="https://in.linkedin.com/company/telesto-energy" target="_blank"><i class="fab fa-linkedin" style="color: #000000;"></i></a>
              </div>
              
            </div>
             
          </div>
          <div class="col" >
            <h2>Enquiry form: <div class="underline"><span></span></div></h2>
            


            <div class="container">
              <form id="emailForm" onsubmit="return validateForm()">
                  <label for="name" style="font-family: Gustavo,sans-serif;">Name:</label>

                  <input type="text" id="name" name="name" placeholder="Your Name" onfocus="clearError('nameError')" minlength="8">

                  <span id="nameError" class="error"></span>

                  <label for="email">Email:</label>

                  <input type="text" id="email" name="email" placeholder="Your Email" onfocus="clearError('emailError')">

                  <span id="emailError" class="error"></span> 
                  <label for="message">Message:</label>
                  <textarea id="message" name="message" placeholder="Your message" onfocus="clearError('messageError')"></textarea>


                  <span id="messageError" class="error"></span><br>

                  <input type="submit" value="Submit">
              </form>
          </div>
          


          </div>
        </div>
  <hr>
  <p class="copyright"><i class="fa-regular fa-copyright" style="color: #000000;"></i> copyright: <span id="copyright-year">2023</span> TELESTO ENERGY. ALL RIGHTS RESERVED</p>
  
  </div>
      </footer>
      <script src="{% static 'telestoapp/assets/landing/js/footer.js' %}"></script>
<script src="{% static 'telestoapp/assets/landing/js/nav.js' %}"></script>
</body>
</html>

