.chart-container {
  width: 800px; /* Width of the Plotly graph */
  margin: auto; /* Center the container */
  overflow-y: scroll;
}

.slider-container {
  text-align: center;
}

.slider {
  width: 100%;
  margin: 10px 0;
}
